/node_modules
/public/hot
/public/storage
/public/assets/*
!/public/assets/img/
!/public/assets/admin/img/
!/public/assets/demo/
/public/js/*
/public/css/*
/public/bootstrap/*
/public/fonts/*
/public/design
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env
*.log
*.swp
.DS_Store
