mixin engagement()
  ul.engagement
    li
      a.engagement-favorite(data-mpf-article-id='66e2b2081c4a40218c5ff119c68f984b', href='#')
        i.fa.fa-heart
      span.engagement-count 126
    li
      a.engagement-comment(data-mpf-article-id='66e2b2081c4a40218c5ff119c68f984b', href='#')
        i.fa.fa-comment
      span.engagement-count 117
    li
      a.engagement-share(data-mpf-article-id='66e2b2081c4a40218c5ff119c68f984b', href='#', data-mpf-article-url='https%3a%2f%2findonesia.fun-japan.jp%2fArticles%2f2016%2f10%2f31%2fID_20161031-21-Sponsor-Company')
        i.fa.fa-share-alt
      span.engagement-count 38
