@font-face {
  font-family: 'futura-bold';
  src: url('@{font-path}Futura-Bold.woff') format('woff');
}

@font-face {
  font-family: 'futura-medium';
  src: url('@{font-path}Futura-Medium.woff') format('woff');
}

@font-face {
  font-family: 'futura-medium-italic';
  src: url('@{font-path}Futura-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'opensans-bold';
  src: url('@{font-path}OpenSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'opensans-bold-italic';
  src: url('@{font-path}OpenSans-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'opensans-italic';
  src: url('@{font-path}OpenSans-Italic.woff') format('woff');
}

@font-face {
  font-family: 'opensans-regular';
  src: url('@{font-path}OpenSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'myriadpro-regular';
  src: url('@{font-path}MyriadPro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'myriadpro-italic';
  src: url('@{font-path}MyriadPro-Italic.woff') format('woff');
}

@font-face {
  font-family: 'myriadpro-bold';
  src: url('@{font-path}MyriadPro-Bold.woff') format('woff');
}

@font-face {
  font-family: 'quicksan-bold';
  src: url('@{font-path}Quicksand-Bold.woff') format('woff');
}
