.bootstrap-tagsinput {
    width: 100% !important;
}

div.dataTables_length select {
    padding: 4px 17px !important;
}

.required label::after {
    content: " *";
    color: red;
}

.pt5 {
    padding-top: 5px;
}

.mt20 {
    margin-top: 20px;
}

.width30 {
    width: 30% !important;
}

.filter-input {
    width: 100% !important;
}
div.dataTables_wrapper {
    div.dataTables_length {
        select {
            width: 100px !important;
        }
    }
}

.min-width-160 {
    min-width: 160px;
}

.article-content img {
    max-width: 100%;
}

.height-35 {
    height: 35px !important;
}

#preview-section img {
    width: 96px;
    height: 60px;
}

.set-language a:hover{
    background-color: #f5f5f5 !important;
}

.label-ranking {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
    border-radius: 3px;
    padding-top: 3px;
    font-weight: 400;
    text-align: center;
    width: 60px;
    height: 27px;
}

.select2-selection__clear {
    position: relative;
}

.btn-left-radius {
    border-bottom-left-radius: 20px !important;
    border-top-left-radius: 20px !important;
}
.btn-right-radius {
    border-bottom-right-radius: 20px !important;
    border-top-right-radius: 20px !important;
}
.sortable {
    cursor: pointer;
}

.sortable.sort-asc::after {
    font-family: FontAwesome;
    content: " \f0de";
}

.sortable.sort-desc::after {
    font-family: FontAwesome;
    content: " \f0dd";
}

@mixin custom-position {
    margin-right: 4px;
    display: inline-block;
    width: 40px;
    height: 20px;
    padding-top: 4px !important;
    color: #FFFFFF !important;
    font-weight: bold !important;
}
.label-custom-schedule {
    background-color: #F78E57 !important;
    @include custom-position;
}
.label-custom-stop {
    background-color: #F3534D !important;
    @include custom-position;
}
.label-custom-no-article {
    background-color: #CDCDCD !important;
    @include custom-position;
}
.label-custom-draft {
    background-color: #B4A3D0 !important;
    @include custom-position;
}
.label-custom-published {
    background-color: #1C84C6 !important;
    @include custom-position;
}
.label-explain {
    display: flex;
    p {
        margin-right: 10px;
        font-size: 11px;
    }
    span {
        display: inline-block !important;
        width: 12px;
        height: 12px;
        margin-top: 2px;
        padding-right: 0px !important;
        float: left;
    }
}
table {
    td {
        vertical-align: middle !important;
    }
}
.border-left {
    border-left: 4px solid #19aa8d !important;
}
.breadcrumb {
    .home {
        color: #1ab394 !important;
    }
}
.page-title {
    h2 {
        color: #1ab394;
        text-transform: uppercase;
    }
}
.right-column {
    .form-group-radio {
        margin-top: 10px;
    }
}
.padding-left-0 {
    padding-left: 0px !important;
}
.button-group {
    .simple_tag {
        padding-top: 10px;
    }
}
.medium-editor {
    min-height: 200px !important;
    height: 250px;
    overflow: auto;
    outline: none;
    margin: 0 0 20px 0;
    padding: 4px 10px 20px 20px;
    border: 1px solid #dbdbdb;
}
.switch-editor {
    margin-top: 10px;
    margin-bottom: 10px;
}
@mixin title-prview {
    font-size: 10pt;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: center;
    border-radius: 25px;
}
#mobile-preview {
    .title-left {
        color: #1ab394;
        @include title-prview;
        width: 125px;
        border-color: #1ab394 !important;
    }
    .title-right {
        color: #1c84c6;
        @include title-prview;
        width: 125px;
        border-color: #1c84c6 !important;
    }
    p {
        word-break: break-all;
        img {
            width: 100%;
        }
    }
}
#pc-preview {
    .title-left {
        color: #1ab394;
        @include title-prview;
        width: 250px;
        border-color: #1ab394 !important;
    }
    .title-right {
        color: #1c84c6;
        @include title-prview;
        width: 250px;
        border-color: #1c84c6 !important;
    }
    p {
        word-break: break-all;
        img {
            width: 100%;
        }
    }
}
.social-feed-box {
    border-radius: 5px !important;
    overflow-y: auto;
    .title {
        margin-top: 25px;
        margin-bottom: 25px;
        h2 {
            font-weight: bold;
            color: #888;
        }
    }
}
.tags {
    margin-top: 35px;
    margin-bottom: 25px;
    span {
        display: inline-block;
        height: 20px;
        padding-top: 0px;
        margin-top: 5px;
    }
    [data-role="remove"]:after {
        content: "x";
        padding: 0px 2px;
        margin-left: 8px;
    }
}
.page-title {
    h2 {
        color: #1ab394;
        text-transform: uppercase;
    }
}
.mobile-preview {
    width: 40%;
    margin: 0px auto;
}
.image-preview {
    .list-image-preview {
        img {
            width: 100%;
        }
    }
}
.image-preview {
    .list-image-preview {
        .image-item {
            min-height: 100px;
            margin-bottom: 10px;
            background-size: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 6px;
            cursor: pointer;
        }
    }
}
.selected-image {
    text-align: center;
}
.selected-image {
    img {
        width: 60%;
        min-height: 300px;
    }
}
.preview-selected {
    border: 3px solid #ffff00;
}
.title-preview {
    width: 60%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    text-align: left;
}
.title-preview {
    span {
        padding-left: 10px;
    }
}
.btn-preview {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    .btn-success {
        background-color: #5D96DA !important;
    }
}
.right-column .form-group-radio {
    margin-top: 10px;
}
.btn-primary-custom {
    background-color: #5FC451;
    color: #ffffff;
}
.btn-primary-custom:hover {
    background-color: #46B959 !important;
    color: #ffffff !important;
}
figure {
    img {
        width: 100%;
    }
}
.alert-error-section {
    padding-bottom: 0px !important;
    .alert {
        margin-bottom: 0px !important;
    }
}
.article-create {
    .form-group-radio {
        label {
            cursor: auto !important;
        }
        .radio {
            input {
                cursor: pointer;
            }
        }
    }
}
#pc-preview,
#mobile-preview {
    .panel-body,
    .ibox-content {
        border: none !important;
    }
}
.not-selected-btn {
    background-color: #CCCCCC;
    color: #ffffff;
    text-transform: uppercase;
}
.colorpicker-element {
    background-color: #F16FAA !important;
    border-color: #f59ac3 !important;
    text-transform: uppercase;
}
.btn-back {
    background-color: #3FB89E !important;
    color: #ffffff !important;
    text-transform: uppercase;
}
.back-section {
    padding-bottom: 0px !important;
}
.save-draft {
    margin-left: 13px;
    margin-top: 25px;
    background-color: #5FC451 !important;
}
.empty-div {
    min-height: 57px;
}
.member-only-btn {
    padding-left: 0px !important;
}
.break-word {
    word-break: break-all;
}
.faint-word {
    color: #b1b1b1 !important;
}
.article-detail-action {
    .btn {
        padding-top: 3px !important;
        padding-bottom: 3px !important;
        color: #ffffff;
        text-transform: uppercase;
    }
    .btn-default[disabled]:hover {
        color: #eeeeee;
        background-color: #888888;
        border-color: #cccccc;
    }
    .label {
        margin-right: 4px;
    }
    .btn:hover {
        color: #ffffff !important;
    }
    .btn-create {
        background-color: #94D22F;
    }
    .btn-start {
        background-color: #40BFD7;
    }
    .btn-stop {
        background-color: #F3534D;
    }
    .btn-modify {
        background-color: #a97c56;
    }
    .btn-label-null {
        background-color: #CCCCCC;
    }
    .btn-label-published {
        background-color: #63A1D4;
    }
    .btn-label-stop {
        background-color: #F3534D;
    }
    .btn-label-schedule {
        background-color: #F78E57;
    }
    .btn-label-draft {
        background-color: #B4A3D0;
    }
}
.form-group {
    select {
        width: 96%;
    }
}
table.table-condensed {
    .active-today {
        background-color: #00aa55;
    }
}
@media (min-width: 992px) {
    .colorpicker-element {
        width: 86%;
    }
}
@media (min-width: 1024px) {
    .colorpicker-element {
        width: 85%;
    }
}
