@import "category.scss";

.image-preview {
    width: 100px;
    height: 100px;
}

#max_coupon_per_user, #max_coupon, #required_point {
    width: 195px;
}

.datetime-picker {
    width: 210px;
}

.coupon-description {
    span {
        img {
            max-width: 100%;
        }
    }
}

#coupon-table_wrapper {
    table {
        width: 100% !important;
    }
}

.width225 {
    width: 225px !important;
}
