.mt5 {
    margin-top: 5px;
}

.upload-image-item {
    float: left;
    width: 83%;
}

.item-hide {
    display: none;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.box-content-omikuji {
    border-bottom : 1px solid #ccc;
    overflow: hidden;
    padding: 20px 0px;
}

.first-padding {
    padding: 0px 0px 20px 0px !important;
}

.date-time-width {
    width: 135px !important;
}