.add-option {
    cursor: pointer;
}

.delete-option {
    margin-left: 20px;
    cursor: pointer;
}

.show-nothing {
    padding:10px;
}

.list-option {
    margin-top: 10px;
}

.other-option {
    div {
        margin: 7px 0 0 0;
    }
}

.error-question, .error-score-from, .error-score-to, .error-title {
    margin-left: 132px !important;
}

.error-score {
    margin: 12px 0 -30px 807px;
}

.error-option {
    margin: 45px 0 -30px 147px;
}

.photo {
    border: none;
    margin-left: -12px;
}

.preview-img {
    width: 96px;
    height: 60px;
}

.error {
    height: 10px;
}
