//
//// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
//
//// Variables
//@import "variables";
//
//// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.margin-top-10 {
    margin-top: 10px;
}

.article-select2 {
    width: 100%;
}

.pl0 {
    padding-left: 0px !important;
}

.table-align > tbody > tr > td {
     vertical-align: middle;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.bw {
    word-wrap: break-word;
}

@-moz-document url-prefix() {
    .max100 {
        max-width: 100%;
    }
}
