#alert-message {
    text-align: center;
}

.next-page {
    display:none;
}

.break-word {
    word-break: break-word;
}

.modal-content, .modal-dialog {
    height: inherit;
    overflow: auto;
}

.modal-dialog {
    position: static;
}

.modal {
    overflow-y: auto;
}

.comments-loading {
    text-align: center;
}

#confirm-gif-modal {
    .modal-body {
        text-align: center;
    }

    img {
        width: 50%;
    }
}
