#alert-message {
    text-align: center;
}

.next-page {
    display:none;
}

.break-word {
    word-break: break-word;
}

.modal-content, .modal-dialog {
    height: inherit;
    overflow: auto;
}

.modal-dialog {
    position: static;
}

.modal {
    overflow-y: auto;
}

.comments-loading {
    text-align: center;
}

#confirm-gif-modal {
    .modal-body {
        text-align: center;
    }

    img {
        width: 50%;
    }
}

.dz-image-preview {
    display: table !important;
    margin: 8px !important;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 5px 0 #a2958a;
    padding: 6px;
    text-align: center;
    vertical-align: middle !important;
}
.dz-image {
    width: auto !important;
    height: auto !important;
    border-radius: 0 !important;
}
.dz-image {
    img {
        height: 160px !important;
    }
}
.upload-photo {
    border-radius: 5px;
    border: 1px solid #ddd !important;
    padding: 0px !important;
    width: 100%;
    margin-bottom: 5px;

    .close {
        float: right;
        font-size: 21px;
        font-weight: bold;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .2;
        width: 300px;
        height: 160px;
        text-align: right;
        padding-top: 2px;
    }

    .close {
        span {
            cursor: pointer !important;
            padding-right: 5px;
            padding-top: 2px;
        }
    }
}
.alert-login {
    margin-left: 45px;
    font-size: 12px;
}
.articlephoto-message {
    p {
        height: 17px;
    }
}
.width-85-pc {
    width: 85%;
}
.body-comment {
    .limited-text {
        display:inline;
    }
}

.advertisement-br {
    margin-bottom: -20px;

    iframe {
        -ms-transform: scale(0.93);
        -moz-transform: scale(0.93);
        -o-transform: scale(0.93);
        -webkit-transform: scale(0.93);
        transform: scale(0.9);
        -ms-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        height: 302px;
        border-width: 0px;
        padding-right: 9px;
        overflow-x: hidden;
    }
}

@-moz-document url-prefix() {
    .advertisement-br {
        margin-bottom: -25px !important;

        iframe {
            height: 345px !important;
            padding-bottom: 2px;
        }
    }
}
