extends modules/templates/registration.pug

block head
  +head(head.jmb_registration_2)

block registration-patial
  .registration-body.jmb
    .step-3-jmb
      p.re-status Resigtration completed
      p.re-checked
        i.fa.fa-check-circle(aria-hidden='true')
      p.re-thankyou Thank you for signing up!
    .break-line
      img.break-line-dk(src='./images/registration/break_line.png', alt='breack-line')
      img.break-line-mb(src='./images/registration/break_line_sm.png', alt='breack-line')
    .jmb-registration
      .jmb-intro
        .intro-title
          p.sm-text Earn miles by boarding, lodging or shopping!
          p.lg-text Special offer for FJ members
          p.caret-down
            i.fa.fa-caret-down(aria-hidden='true')
        .card-banner
          img(src='./images/registration/card_banner.png', alt='card_banner')
          .ribbon-text
            span.stars-group.left
              i.fa.fa-star(aria-hidden='true')
              i.fa.fa-star(aria-hidden='true')
            span.text FJ member limited
            span.stars-group.right
              i.fa.fa-star(aria-hidden='true')
              i.fa.fa-star(aria-hidden='true')
          .dialog
            p.title
              span.red-text Fun!
              |  Japan ONLY
            p
              span.green-text We give JAL mileage bank card as present! Let's register now!
        p.summary
          span
            | With JAL mileage bank service, you can exchange miles for many attractive rewards. Miles can be earned through boarding, lodging or shopping activities.
        .card-guide
          img(src='./images/registration/card_guide.png', alt='card_banner')
          .guide.blue-circle
            p.title Earn miles
            p.description Earn miles by boarding flight or shopping.
          .guide.green-circle
            p.title Exchange miles
            p.description Miles can be exchanged for flight ticket, coupons and more.
      .jmb-intro-mobile
        .intro-title
          p.sm-text Earn miles by boarding, lodging or shopping!
          p.lg-text Special offer for FJ members
          p.caret-down
            i.fa.fa-caret-down(aria-hidden='true')
        .card-banner
          img(src='./images/registration/card_banner_sm.png', alt='card_banner')
          .ribbon-text
            span.stars-group.left
              i.fa.fa-star(aria-hidden='true')
              i.fa.fa-star(aria-hidden='true')
              i.fa.fa-star(aria-hidden='true')
            span.text FJ member limited
            span.stars-group.right
              i.fa.fa-star(aria-hidden='true')
              i.fa.fa-star(aria-hidden='true')
              i.fa.fa-star(aria-hidden='true')
          .dialog
            p.title
              span.red-text Fun!
              |  Japan ONLY
            p
              span.green-text We give JAL mileage bank card as present! Let's register now!
        p.summary
          span
            | With JAL mileage bank service, you can exchange miles for many attractive rewards. Miles can be earned through boarding, lodging or shopping activities.
        .card-guide
          img(src='./images/registration/card_guide_sm.png', alt='card_banner')
          .guide.blue-circle
            p.title Earn miles
            p.description Earn miles by boarding flight or shopping.
          .guide.green-circle
            p.title Exchange miles
            p.description Miles can be exchanged for flight ticket, coupons and more.
      .step-2.jmb
        form#jmbRegisterForm(data-toggle='validator', role='form')
          p.guide-text.center Please provide all of the required information below and click the Next button.
          .row
            .col-md-6
              .form-group.row.has-info
                label.col-md-36.col-form-label(for='firstName')
                  | Given name
                  span.require *
                .col-md-64.col-xs-11
                  input#jmbFirstName.form-control(type='text', name='firstName', placeholder='10 character or less')
                  i#addFn_2.zmdi.zmdi-plus-circle-o.control-btn
                  i#addFn_3.zmdi.zmdi-plus-circle-o.control-btn
                  i#firstName1Info.fa.fa-question-circle.info-tooltip-btn(aria-hidden='true')
            #firstName2_block.col-md-22.col-xs-11.hidden
              .form-group.has-info
                .col-md-12.no-padding
                  input#jmbFirstName2.form-control(type='text', name='firstName2', placeholder='9 character or less')
                  i#rmFn_2.zmdi.zmdi-minus-circle-outline.control-btn
                  i#firstName2Info.fa.fa-question-circle.info-tooltip-btn(aria-hidden='true')
            #firstName3_block.col-md-22.col-xs-11.hidden
              .form-group.has-info
                .col-md-12.no-padding
                  input#jmbFirstName3.form-control(type='text', name='firstName3', placeholder='9 character or less')
                  i#rmFn_3.zmdi.zmdi-minus-circle-outline.control-btn
                  i#firstName3Info.fa.fa-question-circle.info-tooltip-btn(aria-hidden='true')
          .row
            .col-md-6
              .form-group.row.has-info
                label.col-md-36.col-form-label(for='lastName')
                  | Family name
                  span.require *
                .col-md-64
                  input#jmbLastName.form-control(type='text', name='lastName', placeholder='9 character or less')
                  i#lastNameInfo.fa.fa-question-circle.info-tooltip-btn(aria-hidden='true')
            .col-md-6
              .form-group.row.has-info
                label.col-md-36.col-form-label.alR(for='midName') Middle name
                .col-md-64
                  input#jmbMidName.form-control(type='text', name='midName', placeholder='9 character or less')
                  i#midNameInfo.fa.fa-question-circle.info-tooltip-btn(aria-hidden='true')
          .row
            .col-md-6
              .form-group.row.has-info
                label.col-md-36.col-form-label(for='password')
                  | Personal Identification Number (PIN)
                  span.require *
                .col-md-64
                  input#jmbPassword.form-control(type='password', name='password', placeholder='Must be 6 numeric characters')
                  i#pwInfo.fa.fa-question-circle.info-tooltip-btn(aria-hidden='true')
            .col-md-6
              .form-group.row
                label.col-md-36.col-form-label.alR(for='confirmPassword')
                  | PIN confirmation
                  span.require *
                .col-md-64
                  input#jmbConfirmPassword.form-control(type='password', name='confirmPassword', placeholder='Must be 6 numeric characters')
          .form-group.row
            label.col-md-18.col-form-label(for='address1')
              | Address 1
              span.require *
            .col-md-82
              input#jmbAddress1.form-control.addressInput(type='text', name='address1', placeholder='Address 1')
          .form-group.row
            label.col-md-18.col-form-label(for='address2')
              | Address 2
              span.require *
            .col-md-82
              input#jmbAddress2.form-control.addressInput(type='text', name='address2', placeholder='Address 2')
              i.zmdi.zmdi-plus-circle-o.control-btn.address
          .row
            .col-md-6
              .form-group.row
                label.col-md-36.col-form-label(for='zipcode')
                  | Zip Code
                  span.require *
                .col-md-64
                  input#jmbZipcode.form-control(type='text', name='zipcode', placeholder='Zip Code')
          .row
            .col-md-6
              .form-group.row
                label.col-md-36.col-form-label(for='city')
                  | Residence City
                  span.require *
                .col-md-64
                  select#jmbCity(name='city')
                    option(value='', selected='', hidden='') Select
                    option Location 1
                    option Location 2
                    option Location 3
                    option Location 4
                    option Location 5
                    option Location 6
                    option Location 7
                    option Location 8
                    option Location 9
                    option Location 10
                    option Location 11
            .col-md-6
              .form-group.row
                label.col-md-36.col-form-label.alR(for='country')
                  | Country of Residence
                  span.require *
                .col-md-64
                  select#jmbCountry(name='country')
                    option(value='', selected='', hidden='') Select
                    option Location 1
                    option Location 2
                    option Location 3
                    option Location 4
                    option Location 5
                    option Location 6
                    option Location 7
                    option Location 8
                    option Location 9
                    option Location 10
                    option Location 11
          .form-group.row
            label.col-md-18.col-form-label(for='phoneNumber')
              | Phone number
              span.require *
            .col-md-82
              input#jmbPhoneNumber.form-control(type='text', name='phoneNumber', placeholder='Phone number')
          .form-group.term
            p.term-title
              label.col-form-label(for='term') Acceptance of Rules and Conditions
              span.guide-text Please agree to the JMB Rules and Conditions to continue
            p.term-banner
              a(href='https://www.jal.co.jp/en/jalmile/rules.html', target='_blank')
                img.banner-dk(src='./images/registration/jmb_term.png', alt='jmb_term')
                img.banner-mb(src='./images/registration/jmb_term_sm.png', alt='jmb_term')
          .form-group.term-check
            .checkbox-holder.term-checkbox
              input#jmbIsAcceptPolicy(type='checkbox', name='isAcceptPolicy', value='')
              input(name='isAcceptPolicy', type='hidden', value='false')
              label.checkbox-label.tick(for='jmbIsAcceptPolicy')
              label.checkbox-label
                span I agree to above Terms of use & Conditions
            p.feedback
              span#jmbRequireMessage
          .step-btn-container
            input#submit-button.btn.btn-primary(type='submit', value='Next')


block script
  script(type='text/javascript', src='js/vendor/jquery-3.2.1.js')
  script(type='text/javascript', src='js/vendor/bootstrap-3.1.1.js')
  script(type='text/javascript', src='js/vendor/jquery.custom-scrollbar.js')
  script(type='text/javascript', src='js/vendor/jquery.validate.js')
  script(type='text/javascript', src='js/vendor/additional-methods.min.js')
  script(type='text/javascript', src='js/main/registration.js')
