#======================================
# Directories
#--------------------------------------
coverage/
node_modules/
bower_components/
target/
tmp/
bower_components/

#======================================
# Extensions
#--------------------------------------
*.gz
*.log
*.rar
*.tar
*.zip
*.css

#======================================
# IDE generated
#--------------------------------------
.idea/
.project
*.iml
.jsbeautifyrc

#======================================
# OS generated
#--------------------------------------
__MACOSX/
.DS_Store
Thumbs.db
