mixin article-ranking()
  .article-ranking
    each article, index in article_rankings
      .ranking-card-item
        a(href='#')
          .ranking-card-item__thumbnail
            img(src=article.thumb_src)
            .ranking-card-item__title
              span= article.title
            p.ranking-card-item__number
              | #{article.rank}
            .ranking-card-item__br-triangle
