mixin recommended-post()
  section.regular.slider
    each post in recommended_posts
      div
        a(href='#')
          .img-card.slider-img
            .card-thumbnail
              img(src= post.thumb_src)
            p.card-title          
              span.content= post.title
