mixin related-post()
  .related-post
    .row.gutter-16
      .col-md-6.col-xs-8
        .first-block
          a(href='#')
            .img-card.first-block-img
              .card-thumbnail
                img(src='images/article/recommended_img_01.jpg')
              p.card-title
                span
                  | What does the Japanese word "Yuki (雪)" mean? What does the Japanese word "Yuki (雪)" mean? What does the What does the Japanese word "Yuki (雪)" mean? What does the Japanese word "Yuki (雪)" mean? What does the Fun! Japan Words Oshibori (おしぼり) Fun!
      .col-md-6.col-xs-4
        .row.gutter-16
          .col-md-6
            .second-block
              a(href='#')
                .img-card.second-block-img
                  .card-thumbnail
                    img(src='images/article/recommended_img_2_1.jpg')
                  p.card-title
                    span
                      | What does the Japanese word "Yuki (雪)" mean? What does the Japanese word "Yuki (雪)" mean? What does the
            .second-block
              a(href='#')
                .img-card.second-block-img
                  .card-thumbnail
                    img(src='images/article/recommended_img_2_2.jpg')
                  p.card-title
                    span What does the Japanese word "Yuki (雪)" mean?
          .col-md-6.sm-rm
            .second-block
              a(href='#')
                .img-card.second-block-img
                  .card-thumbnail
                    img(src='images/article/recommended_img_2_3.jpg')
                  p.card-title
                    span What does the Japanese word "Yuki (雪)" mean?
            .second-block
              a(href='#')
                .img-card.second-block-img
                  .card-thumbnail
                    img(src='images/article/recommended_img_2_4.jpg')
                  p.card-title
                    span What does the Japanese word "Yuki (雪)" mean?
    .row.gutter-16
      .col-md-6.col-xs-4
        .row.gutter-16
          .col-md-6
            .second-block
              a(href='#')
                .img-card.second-block-img
                  .card-thumbnail
                    img(src='images/article/recommended_img_2_5.jpg')
                  p.card-title
                    span What does the Japanese word "Yuki (雪)" mean?
          .col-md-6.sm-rm
            .second-block
              a(href='#')
                .img-card.second-block-img
                  .card-thumbnail
                    img(src='images/article/recommended_img_2_6.jpg')
                  p.card-title
                    span What does the Japanese word "Yuki (雪)" mean?
      .col-md-6.col-xs-8
        .second-block
          a(href='#')
            .img-card.second-block-img
              .card-thumbnail
                img(src='images/article/recommended_img_1_2.jpg')
              p.card-title
                span What does the Japanese word "Yuki (雪)" mean?
