mixin social-buttons()
  .sns-container
      .sns-btn-group
        .row.gutter-4
          .col-xs-6
            a.btn.fb(role='button', href='#')
              span
                i.fa.fa-facebook(aria-hidden='true')
                |  share on facebook
          .col-xs-6
            a.btn.gp(role='button', href='#')
              span
                i.fa.fa-google-plus(aria-hidden='true')
                |  share on google
  .sns-container.sm
    .sns-btn-group
      .row.gutter-4
        .col-xs-6
          a.btn.fb(role='button', href='#')
            span
              | Share on  
              i.fa.fa-facebook-square(aria-hidden='true')
        .col-xs-6
          a.btn.gp(role='button', href='#')
            span
              | Share on  
              i.fa.fa-google-plus(aria-hidden='true')
