mixin signup-area(modifier)
  console.log(modifier)
  div(class=`signup-area ${modifier}`)
    .signup-btn-container
      a.btn.email-signup(role='button', href='./registration_st2.html')
        span
          i.fa.fa-envelope(aria-hidden='true')
          |  Sign up with email
      a.btn.fb-signup(role='button', href='#')
        span
          i.fa.fa-facebook(aria-hidden='true')
          |  Sign up with facebook
