@head-red: #dd280d;
@head-black: #333;
@head-gray: #999;
@head-gray-2: #666;
@head-light-gray: #f3f3f4;
@head-light-gray-2: #ddd;
@head-light-gray-3: #ecebeb;
@head-dark-gray: #979797;
@head-dark-gray-2: #ccc;
@head-yellow: #FFD628;
@head-white: #fff;
@head-pink: #fd3261;
@head-light-pink: #ff6666;
@head-red-2: #fd494a;
@head-red-3: #fc4949;
@head-white-transparent: rgba(255, 255, 255, 0.15);
// Links
a {
  &:hover,
  &:focus {
    background-color: transparent;
  }
}

// Place holder
.placeholder-header-desktop {
  font-family: opensans-regular;
  font-size: 11px;
  color: @head-gray;
  position: relative;
  bottom: 2px;
}

.placeholder-header-mobile {
  font-family: opensans-regular;
  color: @head-black;
  font-size: 11px;
  opacity: 0.5;
}

// Limit number of lines
.multiLineEllipsis(@lineHeight: 1.2em, @lineCount: 1, @bgColor: white) {
  overflow: hidden;
  position: relative;
  line-height: @lineHeight;
  max-height: @lineHeight * @lineCount;
  text-align: justify;
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: @bgColor;
  }
}

.single-line {
  .elap {
    float: right;
    clear: right;
    color: @head-gray-2;
  }
  .multiLineEllipsis(@lineHeight: 1.2em, @lineCount: 1, @bgColor: white);
}

// Notification popup
.notification-list {
  height: 270px;
  width: 350px !important;
  overflow: auto;
}

.notification {
  position: relative;
  height: 50px;
  padding: 5px 5px 5px 10px;
  &::after {
    content: '';
    display: block;
    margin-top: 5px;
    width: 320px;
    height: 1px;
    background-color: @head-light-gray-3;
  }
  &>* {
    vertical-align: middle;
  }
  img {
    border: 1px solid @head-light-gray-3;
    width: 40px;
    height: 100%;
    float: left;
  }
  p {
    margin-bottom: 0;
    line-height: 1.2;
  }
  .message {
    display: inline-block;
    height: 100%;
    width: 280px;
    padding: 2px 8px;
  }
  .name {
    font-family: josefinsans-semibold;
    font-size: 14px;
    color: @head-black;
  }
  .action {
    font-family: opensans-regular;
    font-size: 11px;
    color: @head-gray-2;
  }
  .time {
    i.fa {
      font-size: 10px;
      color: @head-gray;
    }
    span {
      font-family: opensans-italic;
      font-size: 11px;
      color: @head-gray;
    }
  }
}

.show-all {
  text-align: center;
  padding: 10px;
  border-top: 1px solid @head-light-gray-3;
  a {
    font-family: opensans-regular;
    color: @head-gray-2;
    font-size: 12px;
    &:hover,
    &:focus {
      color: @head-gray-2;
    }
  }
}

// Setting popup
.list-items {
  float: left;
  text-align: left;
  width: 30%;
  list-style: none;
  background-color: @head-dark-gray-2;
  padding: 10px;
  li {
    padding: 5px 0;
    &>a {
      color: @head-white;
      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
    i.zmdi {
      margin-right: 5px;
    }
  }
}

.box-sum-ranking {
  float: left;
  text-align: left;
  width: 70%;
  padding: 18px;
  .brs-star {
    border-radius: 4px;
    border: 4px solid @head-light-gray;
    padding: 5px;
    margin-top: 10px;
    .col-md-2 {
      padding-left: 4px;
    }
    strong {
      line-height: 2em;
    }
  }
  .star {
    &.is-checked {
      &:before {
        content: "\f005";
        color: @head-yellow;
      }
    }
    &:before {
      font-size: 1.4em;
      font-family: FontAwesome;
      display: inline-block;
      content: "\f006";
      color: @head-dark-gray;
    }
  }
  .brs-sum {
    border: 1px solid @head-light-gray;
    display: flex;
    align-items: center;
  }
  .bsr-sum-left {
    background-color: @head-light-gray;
    display: flex;
    align-items: center;
    img {
      float: left;
      margin-right: 10px;
    }
    .brs-title {
      font-family: josefinsans-semibold;
      font-size: 18px;
    }
    .brs-month,
    .brs-promotion {
      font-size: 11px;
    }
  }
  .bsr-detail {
    margin: 5px 0;
  }
}

// Header desktop
.top-header {
  position: relative;
  margin-bottom: 45px;
  .header-text {
    font-family: josefinsans-semibold;
    line-height: 1em;
    font-size: 24px;
    color: @head-red;
    text-align: center;
    padding-top: 35px;
    margin: 0;
    &>a {
      &:hover,
      &:focus {
        color: @head-red;
        background-color: transparent;
      }
      img {
        height: 18px;
        width: auto;
        position: relative;
        bottom: 3px;
      }
      .title-country {
        color: @head-black;
      }
    }
    .header-description-text {
      font-size: 12px;
      color: @head-gray;
    }
  }
  .header-right {
    position: absolute;
    top: 15px;
    right: 20px;
    text-align: right;
    &>form>input {
      border-radius: 50px;
      border: none;
      height: 25px;
      width: 200px;
      background-color: rgba(217, 217, 217, 0.43);
      padding-left: 15px;
      padding-right: 27px;
      &::-webkit-input-placeholder {
        .placeholder-header-desktop();
      }
      &::-moz-placeholder {
        .placeholder-header-desktop();
      }
      &:-ms-input-placeholder {
        .placeholder-header-desktop();
      }
      &:-moz-placeholder {
        .placeholder-header-desktop();
      }
      &:focus {
        outline: none;
      }
    }
    i.fa-search {
      font-size: 12px;
      position: absolute;
      top: 0;
      right: 2px;
      z-index: 2;
      display: block;
      width: 25px;
      height: 25px;
      line-height: 25px;
      text-align: center;
    }
    .authentication {
      margin-top: 5px;
      margin-right: 5px;
      a.authen-link {
        font-family: josefinsans-semibold;
        color: @head-pink;
        background-color: transparent;
        font-size: 13px;
        &:hover {
          color: @head-red;
          background-color: transparent;
        }
        &>i {
          font-size: 13px;
          color: @head-pink;
        }
      }
      span.authen-link {
        margin: 0 5px;
        font-size: 13px;
        color: @head-gray;
      }
    }
    .navbar-text {
      font-family: josefinsans-semibold;
      font-size: 13px;
      color: @head-black;
      margin-left: 0;
    }
    .navbar-right {
      .dropdown {
        &>a {
          background-color: transparent;
          padding: 10px 5px;
          line-height: 1.4;
          i.fa {
            font-size: 12px;
            color: @head-pink;
          }
        }
      }
      .notification-toggle {
        margin-right: -15px;
      }
      .badge-number {
        display: inline-block;
        background: @head-gray;
        color: @head-white;
        border-radius: 6px;
        font-size: 9px;
        padding: 0 3px;
        font-family: opensans-regular;
        position: relative;
        bottom: 8px;
        right: 10px;
        border: 2px solid @head-white;
      }
      .dropdown-menu {
        padding: 0;
        top: 38px;
        border: none;
        box-shadow: none;
        border-left: 1px solid @head-gray;
        border-right: 1px solid @head-gray;
        border-bottom: 1px solid @head-gray;
        border-radius: 0;
        li {
          display: inline-block;
        }
        &.notifications {
          width: 350px;
          right: -128px;
          text-align: left;
          ul {
            padding-left: 0;
          }
        }
        &.settings {
          height: 161px;
          right: -106px;
          width: @container-lg / 2;
          background-color: @head-white;
          a {
            font-size: 14px;
            color: @head-white;
            padding: 10px 0;
            &:hover,
            &:focus {
              color: @head-white;
            }
          }
        }
      }
    }
  }
}

// Header mobile
.top-header-mobile {
  display: none;
  padding: 10px 0 10px 10px;
  .header-text {
    font-family: josefinsans-semibold;
    color: @head-red;
    line-height: 2;
    &>a {
      &:hover,
      &:focus {
        color: @head-red;
        background-color: transparent;
      }
      img {
        position: relative;
        height: 11px;
        width: auto;
        bottom: 2px;
      }
    }
    .title-country {
      font-size: 87%;
      color: @head-black;
    }
  }
  form {
    width: 40%;
  }
  input {
    background-color: transparent;
    border: none;
    width: 75%;
    color: @head-black;
    &:focus {
      opacity: 1;
      outline: none;
    }
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      .placeholder-header-mobile();
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      .placeholder-header-mobile();
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      .placeholder-header-mobile();
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      .placeholder-header-mobile();
    }
  }
  i.fa {
    font-size: 13px;
  }
  .vertical-bar {
    color: @head-black;
    position: relative;
    bottom: 1px;
  }
  .navbar-right {
    margin-right: 0;
    &:last-child {
      margin-right: 0;
    }
    .dropdown {
      bottom: 8px;
      &>a.dropdown-toggle {
        padding: 10px 13px 8px;
        font-size: 16px;
        i.zmdi {
          border-radius: 50%;
          background-color: @head-white;
          line-height: 0.7;
          &.pink {
            color: @head-pink;
          }
          &.black {
            color: @head-black;
          }
        }
        &:hover {
          background-color: inherit;
        }
      }
      &.open {
        &>a {
          &:focus {
            background-color: @head-dark-gray-2;
          }
        }
      }
      .dropdown-menu {
        padding: 0;
        border: none;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        width: 230px;
        background-color: @head-white;
        z-index: 3;
        &.unauthen {
          width: 100px;
          .list-items {
            text-align: left;
            width: 100%;
          }
        }
        .list-items {
          float: right;
          text-align: right;
          font-size: 12px;
          width: 45%;
        }
      }
      .box-sum-ranking {
        width: 55%;
        padding: 10px;
        .brs-star {
          font-size: 7px;
          border: none;
          margin-top: 5px;
          padding: 0;
          .col-md-2 {
            padding-left: 4px;
          }
          strong {
            line-height: 2em;
          }
        }
        .star {
          &.is-checked {
            &:before {
              content: "\f005";
              color: @head-yellow;
            }
          }
          &:before {
            font-size: 1.4em;
            font-family: FontAwesome;
            display: inline-block;
            content: "\f006";
            color: @head-dark-gray;
          }
        }
        .brs-sum {
          border: none;
        }
        .bsr-sum-left {
          background-color: inherit;
          img {
            float: left;
            margin-right: 10px;
            max-width: 34px;
            height: auto;
          }
          .brs-title {
            font-family: josefinsans-semibold;
            font-size: 12px;
            font-weight: normal;
          }
          .brs-month,
          .brs-promotion {
            font-size: 10px;
          }
        }
        .bsr-detail {
          margin: 5px 0;
        }
        .brs-point {
          font-family: josefinsans-semibold;
          margin-top: 5px;
          text-align: center;
          .currence {
            font-size: 11px;
          }
        }
      }
    }
  }
}

// Registration header
.registration-header {
  @media only screen and (max-width: 768px) {
    height: 198px;
  }
  text-align: center;
  height: 349px;
  overflow: hidden;
  position: relative;
  border-radius: 0 0 7px 7px;
  background: url('./../images/registration/registration_banner_header.png');
  background-size: cover;
  background-position: center;
  &.hide-steps {
    .registration-title {
      @media only screen and (max-width: 768px) {
        margin-top: 50px;
      }
      margin-top: 105px;
    }
    .registration-navigation {
      display: none;
    }
  }
  .registration-top-img {
    position: absolute;
    top: 0;
    left: 0;
  }
  .registration-title {
    @media only screen and (max-width: 768px) {
      margin-top: 21px;
    }
    margin-top: 24px;
    font-family: josefinsans-semibold;
    position: relative;
    z-index: 2;
    &>a {
      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
    .registration-logo {
      @media only screen and (max-width: 768px) {
        width: 50px;
        height: 50px;
      }
      display: inline-block;
      background-color: @head-white;
      opacity: 0.8;
      border-radius: 3px;
      width: 60px;
      height: 60px;
      span {
        @media only screen and (max-width: 768px) {
          font-size: 40px;
        }
        font-size: 48px;
        text-transform: uppercase;
        color: @head-light-pink;
      }
    }
    .web-title {
      color: @head-white;
      margin-top: 10px;
      .text-fun {
        @media only screen and (max-width: 768px) {
          font-size: 15px;
        }
        font-size: 24px;
        text-transform: uppercase;
      }
      .text-country {
        @media only screen and (max-width: 768px) {
          font-size: 13px;
        }
        font-size: 20px;
      }
    }
  }
  .registration-navigation {
    @media only screen and (max-width: 768px) {
      margin-top: 10px;
    }
    margin-top: 70px;
    margin-bottom: 75px;
    position: relative;
    z-index: 2;
    ul.list-inline {
      font-size: 0;
      &.step {
        @media only screen and (max-width: 768px) {
          padding: 5px;
          margin-bottom: 2px;
        }
        display: inline-block;
        padding: 7px;
        .horizontal-bar {
          @media only screen and (max-width: 768px) {
            padding: 0px 20px;
            bottom: 15px;
          }
          @media only screen and (min-width: 768px) and (max-width: 1024px) {
            padding: 0 40px;
          }
          position: relative;
          bottom: 25px;
          padding: 0 70px;
          background: @head-white-transparent;
          &:after {
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            @media only screen and (max-width: 768px) {
              height: 2px;
            }
          }
        }
        .step-item {
          @media only screen and (max-width: 768px) {
            font-size: 16px;
            width: 30px;
            height: 30px;
            border: 2px solid @head-white-transparent;
          }
          font-family: josefinsans-bold;
          font-size: 23px;
          color: @head-white-transparent;
          width: 50px;
          height: 50px;
          padding: 0;
          border-radius: 50%;
          position: relative;
          border: 3px solid @head-white-transparent;
          .step-number {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
          .step-des-item {
            @media only screen and (max-width: 768px) {
              font-size: 10px;
              top: 35px;
            }
            display: none;
            font-size: 14px;
            color: @head-white-transparent;
            padding: 0;
            width: 280px;
            position: absolute;
            top: 65px;
            left: 50%;
            transform: translateX(-50%);
            .step-number {
              font-family: josefinsans-bold;
            }
            .step-des {
              @media only screen and (max-width: 768px) {
                display: inline-block;
                min-width: 180px;
                padding: 2px 0 1px;
              }
              font-family: josefinsans-semibold;
              padding: 5px 25px;
              background-color: @head-white;
              opacity: 0.8;
              border-radius: 15px;
            }
          }
          .vertical-bar {
            display: none;
            background-color: @head-white;
            width: 3px;
            height: 15px;
            position: absolute;
            top: 47px;
            left: 50%;
            transform: translateX(-50%);
            @media only screen and (max-width: 768px) {
              width: 2px;
              height: 7px;
              top: 28px;
            }
          }
          &.active {
            color: @head-white;
            border-color: @head-white;
            .step-des-item {
              display: block;
              color: @head-light-pink;
            }
            .vertical-bar {
              display: block;
            }
          }
          &.step-item--1 {
            @media only screen and (max-width: 768px) {
              .step-des-item {
                transform: translateX(-25%);
              }
            }
          }
          &.step-item--3 {
            @media only screen and (max-width: 768px) {
              .step-des-item {
                transform: translateX(-75%);
              }
            }
          }
        }
      }
    }
  }
  .header-boder {
    height: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    min-width: 100%;
    z-index: 2;
  }
}

@media only screen and (max-width: 768px) {
  .top-header {
    display: none;
  }
  .top-header-mobile {
    display: block;
  }
}
