@card-red: #dd280d;
@card-white: #fff;
@card-black: #333;
@card-gray: #5f5f60;
.img-card {
  .card-thumbnail {
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
  .card-title,
  .card-title-sm {
    font-family: josefinsans-semibold;
    color: @card-gray;
    &:hover {
      color: @card-red;
    }
    line-height: 1.2;
    width: 100%;
    margin-bottom: 0;
    span {
      display: block;
    }
  }
  .content {
    position: relative;
  }
}
