.modal.fullscreen {
  top: 100px;
  min-height: 100%;
}

body.modal-open {
  overflow: visible;
  height: 100%;
}

.fullscreen {
  .modal-dialog {
    position: fixed;
  }

  .modal-content,
  .modal-dialog {
    height: 100%;
    overflow: scroll;
  }
}
