@related-black: #333333;
@related-red: #dd280d;
.related-post {
  @media only screen and (max-width: 768px) {
    margin-top: 10px;
    margin-bottom: 40px;
    .sm-rm {
      display: none;
    }
  }
  margin-top: 60px;
  a {
    &:hover,
    &:focus {
      background-color: transparent;
    }
  }
  .post-title,
  .post-title-sm {
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      margin: 4px 10px;
    }
    margin: 6px 10px;
    line-height: 1.1;
    &>a {
      font-family: futura-medium;
      font-size: 12px;
      color: @related-black;
      &:hover,
      &:focus {
        color: @related-red;
      }
    }
  }
  .post-title {
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
  .post-title-sm {
    @media only screen and (max-width: 768px) {
      display: block;
    }
    display: none;
    margin: 3px 0;
  }
  .first-block {
    @media only screen and (max-width: 768px) {
      max-height: 180px;
      margin-bottom: 15px;
    }
    @media only screen and (min-width: 768px) and (max-width: 1030px) {
      max-height: 255px;
      margin-bottom: 15px;
    }
    max-height: 355px;
    overflow: hidden;
    .first-block-img {
      @media only screen and (max-width: 768px) {
        height: 180px;
      }
      @media only screen and (min-width: 768px) and (max-width: 1030px) {
        height: 255px;
      }
      height: 355px;
      img {
        width: auto;
        height: 100%;
      }
      .card-title {
        font-size: 13px;
        height: 70px;
        padding: 0 8px;
      }
      .card-title-sm {
        font-size: 12px;
        height: 65px;
        padding: 0 5px;
      }
    }
  }
  .second-block {
    @media only screen and (max-width: 768px) {
      height: 85px;
      margin-bottom: 10px;
    }
    @media only screen and (min-width: 768px) and (max-width: 1030px) {
      height: 135px;
    }
    height: 189px;
    overflow: hidden;
    .second-block-img {
      img.adjust-image-center {
        margin-top: -75px;
        @media only screen and (max-width: 768px) {
          margin-top: -26px;
        }
      }
      @media only screen and (max-width: 1030px) {
        height: 118px;
      }
      height: 165px;
      .card-title {
        font-size: 13px;
        height: 69px;
        padding: 0 8px;
      }
      .card-title-sm {
        @media only screen and (max-width: 768px) {
          height: 125px;
        }
        font-size: 11px;
        height: 55px;
        padding: 0 5px;
      }
    }
  }
}
