mixin popular-series-card-item(series_item)
  .list-group-item
    .row
      .col-xs-4.col-sm-5
        a(href=series_item.href)
          img(src=series_item.thumb_src)
      .col-xs-8.col-sm-7
        a(href=series_item.href)
          p.pp-item-title=series_item.title
