include ./popular-post-card-item

mixin sidebar-top()
  .sidebar-top
    // POPULAR POST
    .list-group
      .list-group__header
        span editor's choice
      .list-group__body
        each val, index in popular_post
          +popular-post-card-item(val)
    // EOF POPULAR POST
    // SIDEBAR FOOTER
    .sidebar-footer
      .col-md-12
        .row
          .sns
            label.footer-label
              | FOLLOW
              span.colon :
            ul.footer-list
              li
                a(href='#') Facebook
              li
                a(href='#') - Instagram
              li
                a(href='#') - Twitter
              li
                a(href='#') - YouTube
          .legal
            label.footer-label
              | LEGAL
              span.colon :
            ul.footer-list
              li
                a(href='#') Terms&Conditions
              li
                a(href='#') - Privacy Policies
          .info
            label.footer-label
              | FURTHER INFO
              span.colon :
            ul.footer-list
              li
                a(href='#') FAQ
              li
                a(href='#') - Privacy Policies
              li
                a(href='#') - For Marketers
          .copyright
            label.footer-label FUN! JAPAN
            span.year  &copy 2016
    // EOF SIDEBAR FOOTER
